Bole_Hill_Quarry_14.JPG filter=lfs diff=lfs merge=lfs -text
DSC04801.JPG filter=lfs diff=lfs merge=lfs -text
Grass_1.JPG filter=lfs diff=lfs merge=lfs -text
Paisnell_Spinney_1.jpg filter=lfs diff=lfs merge=lfs -text
Saddington_1.JPG filter=lfs diff=lfs merge=lfs -text
DSC02866.JPG filter=lfs diff=lfs merge=lfs -text
DSC02954.JPG filter=lfs diff=lfs merge=lfs -text
Saddington_Sunset_5.JPG filter=lfs diff=lfs merge=lfs -text
shearsby_sunset.JPG filter=lfs diff=lfs merge=lfs -text
sunset_tree.JPG filter=lfs diff=lfs merge=lfs -text
Beach_1.JPG filter=lfs diff=lfs merge=lfs -text
DSC02918exposure.JPG filter=lfs diff=lfs merge=lfs -text
DSC08100.JPG filter=lfs diff=lfs merge=lfs -text
Harborough_Arboretum_5.JPG filter=lfs diff=lfs merge=lfs -text
Monsal.JPG filter=lfs diff=lfs merge=lfs -text
Stone_Wall.JPG filter=lfs diff=lfs merge=lfs -text
15_The_Woodcroft_1_-_Copy.JPG filter=lfs diff=lfs merge=lfs -text
DSC05343.JPG filter=lfs diff=lfs merge=lfs -text
Saddington_2.JPG filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
